<div id="app-container">
  <dx-data-grid id="gridContainer"
                [dataSource]="postDataSource"
                keyExpr="id"
                [showBorders]="true"
  >
<!--    Editing-->
    <dxo-editing
      mode="popup"
      [allowDeleting]="true"
      [allowAdding]="true">
    </dxo-editing>

<!--    FooterGrid-->
    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-pager
      [showPageSizeSelector]="true"
      [allowedPageSizes]="[10, 20, 30]"
      [showInfo]="true">
    </dxo-pager>

<!--    ToolbarGrid-->
    <dxo-toolbar id="toolBar">
      <dxi-item name="addRowButton" showText="always"></dxi-item>
    </dxo-toolbar>

<!--    Grid-->
    <dxi-column
      dataField="userId"
      alignment="left"
      caption="UserID"
      dataType="number"
      [width]="100">
      <dxi-validation-rule type="required"></dxi-validation-rule>
    </dxi-column>
    <dxi-column
      dataField="id"
      alignment="left"
      caption="Id"
      dataType="number"
      [width]="70">
      <dxi-validation-rule type="required"></dxi-validation-rule>
    </dxi-column>
    <dxi-column
      dataField="title"
      caption="Title"
      dataType="string">
      <dxi-validation-rule type="required"></dxi-validation-rule>
    </dxi-column>
    <dxi-column
      dataField="body"
      caption="Post"
      dataType="string">
      <dxi-validation-rule type="required"></dxi-validation-rule>
    </dxi-column>

<!--    LoadPannel-->
    <dxo-load-panel
      [height]="100"
      [width]="250"
      indicatorSrc="https://js.devexpress.com/Content/data/loadingIcons/rolling.svg">
    </dxo-load-panel>

  </dx-data-grid>
</div>
